
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/weather-icons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
</head>
<body>
	    <div class="container">
		   <!-- Content -->
		   {$content}
	    </div>
	
	<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/weather.js"></script>
    <script src="js/script.js"></script>
	
</body>
</html>
