
		<div class="row">
			<div class="col-sm-4">
				<div id="card">
					<div id="now" class="city-selected">
						<article>

							<div class="info">
								<div id="now-city" class="city">Skopje</div>
								<div id="now-text" class="text">Night - 22:07 PM</div>
								<div id="now-temp"  class="temp">3&deg;</div>
							</div>

							<div class="icon">
							    <i id="now-icon" class="wi wi-night-sleet"></i>
							</div>

						</article>
						
					</div>

					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-md-4">
								<div class="day">
									<h1 id="forecast-1-title">Monday</h1>
									<div class="icon_small">
										<i id="forecast-1-icon" class="wi wi-day-sunny"></i>
									</div>
									<div id="forecast-1-temp" class="temp_small">3 &deg;C</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="day">
									<h1 id="forecast-2-title">Monday</h1>
									<div class="icon_small">
										<i id="forecast-2-icon" class="wi wi-day-sunny"></i>
									</div>
									<div id="forecast-2-temp" class="temp_small">3 &deg;C</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="day">
									<h1 id="forecast-3-title">Monday</h1>
									<div class="icon_small">
										<i id="forecast-3-icon" class="wi wi-day-sunny"></i>
									</div>
									<div id="forecast-3-temp" class="temp_small">3 &deg;C</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	
	